/* Css container  */

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 0px 20px;
}

img {
  border-radius: 4px;
}

/* Css botões, botões secundarios, e links */

.btn {
  display: inline-block;
  max-width: fit-content;
  color: var(--cor-p5);
  text-transform: uppercase;
  padding: 16px 32px;
  background: linear-gradient(#fb0, #f2a50c);
  border-radius: 4px;
  font-weight: 600;
  font:
    600 1.125rem/1.35 "Poppins",
    sans-serif;
  cursor: pointer;
}

.link {
  font:
    500 1.5rem/1.5 "Poppins",
    sans-serif;
  text-transform: uppercase;
  color: var(--cor-p1);
  display: inline-block;
  position: relative;
}

.link::after {
  content: "";
  width: 0px;
  height: 2px;
  background-color: var(--cor-p1);
  display: block;
  margin-top: 4px;
  position: absolute;
}

.link:hover::after {
  width: 100%;
  transition: 0.3s;
}

.btn:hover {
  background: linear-gradient(#ffb60d, #e59317);
  transition: 0.3s;
}

.btn.secundario {
  background: var(--cor-11);
  color: var(--cor-2);
}

.btn.secundario:hover {
  background: var(--cor-9);
}

.btn.seta {
  display: flex;
  align-items: center;
}

.btn.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  background: url(/img/icones/seta.svg);
  margin-left: 12px;
  transition: 0.2s;
}

.btn.seta:hover::after {
  transform: translateX(4px);
}

@media (max-width: 1200px) {
  .btn {
    font-size: 1.125rem;
  }
}

@media (max-width: 900px) {
  .introducao-conteudo {
    padding: 12px 16px;
    font-size: 1rem;
  }
  .link {
    font-size: 1.125rem;
  }
}

/* Css span ponto amarelo */
.ponto {
  color: var(--cor-p1);
}

/* Banner titulo paginas internas */

.titulo-bg {
  background: var(--cor-11);
}

.titulo {
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
